@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@using WS.MvcUI.Areas.AdminPanel.Models.ApiTypes;
@model List<CategoryItem>

@section customStyles {
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-buttons/css/buttons.bootstrap4.min.css
<link rel="stylesheet" href="~/adminPanel/plugins/sweetalert2/sweetalert2.css">
}

@section customScripts {
    <script src="~/adminPanel/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/adminPanel/plugins/sweetalert2/sweetalert2.js"></script>
}
    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["excel", "pdf"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $("#btnSave").click(function () {
                var formData = new FormData();
                //clientin seçtigi dosya
                var file = $("fuCategoryImage").get(0).files[0];

                formData.append("categoryName", $("#txtCategoryName").val());
                formData.append("description", $("#txtDescription").val());
                formData.append("categoryImage", file);

                $.ajax({
                    url: "/AdminPanel/Category/Save",
                    method:"post",
                    dataType: "json",
                    data: formData,
                    contentTypei: false,
                    processData: false,
                    success: function (response) {
                        if (response.isSucces) {
                            Swal.fire({
                                title: "İşlem Başarılı",
                                text: response.Message,
                                icon: "success"
                            })
                        }
                        else {
                            Swal.fire({
                                title: "İşlem Başarısız",
                                text: response.Message,
                                icon: "error"
                            })
                        }
                    }
                });


            });

            $(".btnDelete").click(function () 
            {
                var categoryId = $(this).attr("categoryId");
                var tr = $(this).parent().parent();
                Swal.fire({
                    title: "Silmek istiyormusunuz?",
                    text: "Silme işlemi geri alınamaz.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Evet, SİL!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        //servis işlemleri
                        $.ajax({
                            url: "/AdminPanel/Categories/Delete" + categoryId,
                            method: "delete",
                            dataType: "json",
                            success: function (response){
                                if (response.IsSuccess) {
                                    Swal.fire({
                                        title: "İşlem başarılı",
                                        text: response.message,
                                        icon: "succes",
                                        showCancelButton: false,
                                        confirmButtonText: "Tamam"
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //sayfayı yenilemek için
                                            // window.location.reload();
                                            $(tr).remove();
                                        }
                                    });
                                }
                                else {
                                    Swal.fire({
                                        'işlem başarısız.'
                                                response.message,
                                        'error'
                                            });
                                }
                            }
                        });

                    }
                    else {
                        Swal.fire({
                            title: "İptal Edildi!",
                            text: "Silme işlemi isteginiz üzere iptal edildi.",
                            icon: "warning"
                        });

                    }
                });

            }
            );

            $(".btnEdit").click(function () {
                var categoryId = $(this).attr("categoryid");

                $.ajax({
                    url: "/AdminPanel/Category/GetCategory/" + categoryId,
                    method: "post",
                    datatype: "json",
                    success: function (response) {
                        $("#txtCategoryNameEdit").val(response.categoryName);
                        $("#txtDescriptionEdit").val(response.description);
                        $("#imgCategoryPhotoEdit").attr("src", response.picturePath);
                        $("#hfCategoryId").val(response.categoryId);
                    }
                });

                $("#divEditCategory").modal("show");
            });
        };
    </script>







<div class="row">
    <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Kategori Yönetim</h3>
                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Liste</a></li>
                    <li class="nav-item"><a class="nav-link" href="#t mab_2" data-toggle="tab">Yeni</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">


                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#Resim</th>
                                    <th>Adı</th>
                                    <th>Açıklama</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {


                                    <tr>
                                        <td><img src="data:image/png;base64,@item.Base64Picture" style="width:150px" /></td>
                                        <td><img src="@item.PicturePath" style="width:150px" /></td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.Description</td>
                                        <td><button class="btn btn-wawning">DÜZENLE</button></td>
                                        <td><button class="btn btn-danger btnDelete" categoryId="@item.CategoryId ">Sil</button></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Adı</th>
                                    <th>Açıklama</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>



                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Yeni Kategori Kayıt Formu</h3>
                            </div>
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Adı</label>
                                        <input type="text" class="form-control" id="txtCategoryName" placeholder="Kategori Adı">
                                    </div>
                                    <div class="form-group">
                                        <label>Açıklama</label>
                                        <textarea id="txtDescription" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Resim</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fuCategoryImage">
                                                <label class="custom-file-label" for="exampleInputFile">Resim Seçiniz</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>